$theme-blue: #5541d7;
$theme-gray: #e2e2ea;
$theme-sec-gray: #c4c4c4;
$theme-whiteSmoke: #f7f7fc;
$theme-white: #ffffff;
$theme-text-black: #11142d;
$theme-white-green: #42bda1;
$theme-text-gray: #92929d;
$theme-separator: #e1e1e1;
$theme-border: #dbd7f4;
