$theme-blue: #5541D7;
$theme-gray: #E2E2E2;
$theme-sec-gray:#C4C4C4;
$theme-whiteSmoke: #F7F7FC;
$theme-white: #FFFFFF;
$theme-text-black:#11142D;
$theme-white-green: #42BDA1;
$theme-text-gray: #92929D;
$theme-separator: #E1E1E1;
$theme-border: #DBD7F4
